* {
    -webkit-transition: color .5s, opacity 1s, height 1s;
    -moz-transition: color .5s, opacity 1s, height 1s;
    -ms-transition: color .5s, opacity 1s, height 1s;
    -o-transition: color .5s, opacity 1s, height 1s;
    transition: color .5s, opacity 1s, height 1s;
}
html {
    background: #4c8891;
    font-family: "Helvetica Neue",Helvetica,Arial,PingFangTC-Light,"Microsoft YaHei",微软雅黑,"STHeiti Light",STXihei,华文细黑,Heiti,黑体,sans-serif;
}
body {
    display: flex;
    align-items:center;
    justify-content:center;
}
nav {
    display: flex;
    margin-bottom: 2rem;
    width: 100vw;
    height: 3rem;
    font-size: 1.4rem;
    align-items: center;
    text-align: left;
}
.title {
    position: fixed;
    top: 0;
    left: 8px;
    z-index: 2;
    width: 100%;
    text-decoration: none;
    text-align: left;
    background-image: linear-gradient(to top, #cff, #0ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.child-page {
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}
h1 {
    background-image: linear-gradient(to top, #cff, #0ff);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    color: transparent;
}
.child-page.part {
    background: linear-gradient(to right top, #ffffffcc, #ffffff88);
    padding: 24px;
    border-radius: 16px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 90%;
    position: fixed;
    top: 8px;
    bottom: 88px;
    border: 2px solid white;
}
.child-page.view {
    opacity: 1;
    z-index: 2;
    pointer-events: initial;
}
.container {
    -webkit-transition: bottom 1s;
    -moz-transition: bottom 1s;
    -ms-transition: bottom 1s;
    -o-transition: bottom 1s;
    transition: bottom 1s;
    width: 100%;
    height:  96px;
    position: fixed;
    z-index: 10;
    bottom: 32px;
    left: 0;
    pointer-events: none;
}
footer {
    color: #4c8891;
    background: linear-gradient(#ffffffcc, #fff);
    text-align: center;
    width: 100%;
    height: 32px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
}
.copyright {
    font-size: 8px;
    position: fixed;
    left: 8px;
    bottom: 8px;
}
.option {
    position: fixed;
    right: 8px;
    bottom: 8px;
}
.child-link {
    display: inline;
    cursor: pointer;
}
.child-link.click {
    color: #73a9b5;
    text-decoration-line: underline;
}
.background.change {
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    opacity: 1;
}
i.material {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}
.viewopt {
    display: none;
    position: fixed;
    right: 8px;
    font-size: 32px;
    cursor: pointer;
}
.folder {
    color: #73a9b5;
}
.ripple {
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
    transition: initial;
}
@media only screen and (max-width: 650px) {
    .child-page.part {
        width: auto;
        position: fixed;
        left: 8px;
        right: 8px;
        top: 8px;
        bottom: 88px;
    }
    .viewopt {
        display: block;
    }
    .child-link {
        display: block;
    }
    .option {
        position: relative;
        text-align: left;
        top: 32px;
        left: 8px;
        width: calc(100% - 16px);
    }
    .copyright {
        position: relative;
        left: 0;
        bottom: 8px;
    }
    footer.unfold {
        height: calc(8em + 40px);
    }
    .container.unfold {
        bottom: calc(8em + 40px);
    }
}
